@use '../vars';

.infobar {
    padding: 16px 24px;
    background-color: vars.$color-background;
    display: flex;
    justify-content: space-between;

    &__info {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: vars.$color-text-secondary;

            b {
                display: block;
                font-size: 18px;
            }
        }
    }

    @media screen and (max-width: vars.$bp-mobile) {
        display: block;

        &__info {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media screen and (max-width: vars.$bp-tablet) {
        &__info {
            gap: 16px;
        }
    }
}