$color-background: #fff;
$color-hero-overlay: #000;

$color-text-primary: #fff;
$color-text-secondary: #000;

$color-button-primary: #4f2ac3; 

$color-gradient-1: #1b6ca7;
$color-gradient-2: #442bdb;
$color-gradient-3: #89223b;
$color-gradient-4: #9c791d;

$bp-mobile: 640px;
$bp-tablet: 1024px;